.project
.classpath
.factorypath
.settings/
out/
bin/
classes/
.apt_generated/

/build/

.idea/
*.iml
*.swp
.gradle/
src/foundation/
src/gcid/
src/main/webapp/shared/
.lock
.DS_Store

*/node_modules/
